html{
  height:100%;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif; 
}

*{
  box-sizing:border-box;
}

body {
  
  width:100%;
  height:100%;
  background-color:#ccc;  
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  
}

button {
  display:block;
  width:100%;
  font-size: 4vh;
  
}

#root {
  width:50%;
}

.container{
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(50px, auto);
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.item{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 5px;
  font-size: 14px;
}

.title{
  
}

.bar{
  display: grid;
  background-color: #ccc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  
}

.progress{
  background-color: #2196F3;
  position: relative;
  transition-duration: .3s;
}